{% load static %}
<!DOCTYPE html>
<html lang="es-CL">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- zona head -->
        <header>
          <nav class="container mt-3 ms-0">
            <ul class="nav flex-column">
              <li class="nav-item"><img class="rounded-pill" src="https://static-cdn.jtvnw.net/jtv_user_pictures/84562095-52a9-4bff-b7c2-edbdcd86fb6f-profile_image-70x70.jpeg" alt="Imagen"></li>
              <li class="nav-item h4 lead"><a href="#" class="nav-link">Inicio</a></li>
              <li class="nav-item h4 lead"><a href="#" class="nav-link">Explorar</a></li>
              <li class="nav-item h4 lead"><a href="#" class="nav-link">Notificaciones</a></li>
              <li class="nav-item h4 lead"><a href="#" class="nav-link">Mensajes</a></li>
              <li class="nav-item h4 lead"><a href="#" class="nav-link">Listas</a></li>
              <li class="nav-item h4 lead"><a href="#" class="nav-link">Premium</a></li>
              <li class="nav-item h4 lead"><a href="#" class="nav-link">Perfil</a> </li>
              <li class="nav-item h4 lead"><a href="#" class="nav-link">Más opciones</a></li>
              <li class="nav-item h4 lead">
                <button type="button" class="btn btn-primary badge rounded-pill">Postear</button>
              </li>
            </ul>
          </nav>
        </header>
        
        <!-- Zona main -->
        <div class="col-sm-8"></div>
      </div>
      <!---->
    </div>
  </body>
</html>
